[submodule "testability_patterns"]
	path = testability_patterns
	url = git@github.com:testable-eu/sast-testability-patterns.git
[submodule "SAST"]
	path = SAST
	url = https://github.com/sacumesh/SAST
	branch = feature/sast-extraction
