#######################################################################
## WARNING:
## if the SAST tools make use of some requirements.txt files, do not
## use them directly as they mess up with our docker environment. Just
## copy the content of those files hereafter
#######################################################################
PyYAML==6.0